*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #fff;
}


.pad-20 {
    padding: 20px 0;
}

.padt-40 {
    padding-top: 40px;
}

.padt {
    padding-top: 100px;
}


/* STYLE SFONDI */
    header, .header, .content .list-inline.black .list-inline-item span{
        background-color: #2c3e50;
    }

    .green2 {
        background-color: #1abc9c;
    }

    .bwhite {
        border: 1px solid #fff;
    }

    .col-white {
        color: #fff;
    }

    .filter-nav {
        filter: invert(1);
    }

    .greyinfo {
        background-color: #3a546d;
    }

    .vertic-al {
        vertical-align: middle;
    }

/* FINE STYLE SFONDI*/

/* STYLE COLONNE */

    .col-2 .content i{
        padding: 5px 10px;
        color: grey;
        border: 1px solid #fff;
        border-radius: 5px;
    }

    .col-5 {
        display: none;
    }

/* FINE STYLE COLONNE */


/* INIZIO HEADER */
        h6 {
            color: #fff;
            font-weight: 700;
            padding-top: 5px;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            font-size: 12px;
            margin-left: 25px;
        }

/* FINE HEADER */

/* INIZIO PROFILO UTENTE */
        #profile .content img{
            max-width: 200px;
        }

        #profile .content h1 {
            font-size: 50px;
            font-weight: 600;
        }

        .content .list-inline .list-inline-item i {
            font-size: 30px;
            padding-top: 15px;
        }

        i.star{
            font-size: 30px;
            padding-bottom: 5px;
        }

        #profile .content p {
            padding-top: 10px;
            margin-bottom: 40px;
        }

        .content .list-inline .list-inline-item span {
            display: inline-block;
            width: 90px;
            height: 5px;
            border-radius: 5px;
            background-color: #fff;
            vertical-align: middle;
        }

/* FINE PROFILO UTENTE */

/* INIZIO PORTFOLIO */

    .black {
        color: #2c3e50;
    }

    .mg-bot {
        margin-bottom: 60px;
    }

    .content h2{
        font-size: 40px;
        font-weight: 600;
    }

    .content.padt-40 i{
        color: #2c3e50;
    }

    .content .img-port {
        width: 100%;
        border-radius: 20px;
    }

/* FINE PORTFOLIO */

/* INIZIO ABOUT */

    .row-about{
        width: 70%;
        margin: 0 auto;
    }

    .pabout{
        font-size: 20px;
        margin: 30px auto;
    }

    .button-sec-about {
        background-color: #1abc9c;
        border: 1px solid #fff;
        border-radius: 6px;
        padding: 5px 10px;
        color: #fff;
        margin-bottom: 60px;
        margin-top: 20px;
        font-size: 18px;
    }

    .button-sec-about i{
        color: #fff;
    }
/* FINE ABOUT */

/* INIZIO CONTACT ME */

    .content .form-control {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid rgb(146, 146, 146);
        margin-top: 10px;
    }


/* FINE CONTACT ME */

/* INIZIO INFO */
    #link-info{
        color: #1abc9c;
    }

    .caracteristic-span-info, #link-info{
        font-size: 20px;
    }

    .mod-ico-info{
        width: 50px;
        height: 50px;
        border: 1px solid;
        border-radius: 50%;
        padding-top: 15px;
    }

    .left-info{
        margin-left: 10px;
    }

    .padding-info{
        padding: 50px 0;
    }
/* FINE INFO */

/* INIZIO FOOTER */

    .copyright {
        padding: 40px 0;
    }

    .content.foot span{
        color: #fff;
        font-size: 11px;
    }

/* FINE FOOTER */

/* MEDIA QUERY */
        /* INIZIO QUERY TABLET */
        @media screen and (min-width: 720px){
            .col-2 {
                display: none;
            }

            .col-5 {
                display: block;
            }
            
            .container-page{
                max-width: 80%;
                margin: 0 auto;
            }

            .content .list-inline .list-inline-item span {
                width: 130px;
            }

        }
        /* FINE QUERY TABLET */

        /* INIZIO QUERY DESKTOP*/

            @media screen and (min-width: 960px){
                #profile .content h1 {
                    font-size: 50px;
                    font-weight: 600;
                }

                .pabout{
                    width: 100%;
                }

                .content .list-inline .list-inline-item span {
                    width: 150px;
                }
            }
        /* FINE QUERY TABLET */
/* FINE MEDIA QUERY */

